.o-spreadsheet {
  .o-special-char-btn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: var(--os-default-font);
    background: white;
  }
}
